.comics {
    &__list {
        margin-top: 45px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;
    }
    &__item {
        transition: 0.3s transform;
        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 225px;
            height: 345px;
        }
        &-name {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-price {
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.comics__item-enter {
    transform: scale(0);
}
.comics__item-enter-active {
    transform: scale(1);
    transition: all 500ms;

}
.comics__item-enter-done {
    transform: scale(1);
}
.comics__item-node-exit {
    opacity: 1;
}
.comics__item-exit-active {
    transform: scale(0);
    transition: all 500ms;
}
.comics__item-exit-done {
    transform: scale(0);
}
