@import '../../../style/variables.scss';

.single-comic {
    display: grid;
    grid-template-columns: 293px  630px auto;
    column-gap: 50px;
    align-items: start;
    &__char-img {
        width: 293px;
        height: 293px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__info {
        margin-top: 20px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
    &__comics {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        // margin-top: 10px;
        &-list {
            overflow-y: scroll;
            position: relative;
            margin-top: 10px;
            max-height: 563px;
            &::-webkit-scrollbar {                              //стиль полосы прокрутки
                width: 7px;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: 5px 5px 5px -5px #50222261 inset;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: #ca0018da;
                background-image: -webkit-gradient(linear, 0 0, 0 100%,
                                        color-stop(.5, rgba(255, 255, 255, 0.384)),
                                        color-stop(.5, transparent), to(transparent));
            }
        }
        &-item {
            width: 100%;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
            &:hover {
                background-color: #a0001318;
                transform: translateY(1px);
                transition: 0.1s transform;
            }
        }
    }
}